h1 {
  text-align: center; 
  text-shadow: 1px 1px white; 
}

body {
  background-image: url('http://vignette4.wikia.nocookie.net/metalgear/images/e/e8/3d.png/revision/latest?cb=20110305165251');
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.button {
  padding-top: 5px;
  text-align: center;
}

button {
  background-color: white;
  color: green;
  outline: none;
  transition-duration: .4s;
  border-radius: 5px;
  font-weight: bold;
  width: 75px;
  height: 35px;
  font-size: 15px;
}

button:hover {
  background-color: green;
  color: white;
}

.container {
  background: rgba(0,0,0,.4);
  border: 2px solid black;
  height: 420px;
  width: 350px;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
}

div[data-answer]{
  opacity: 1;
  box-sizing: border-box;
  width: 25%;
  height: 25%;
  float: left;
  border: 2px solid black;
}

img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

audio {
  padding-top: 6px;
}

